
<div>
  
<div class="p-3  bg-black text-white">
  <div id="search" class="input-group mb-3" >
    <input [(ngModel)] = "movieValue" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="background-color: #bdbdbd;box-shadow: 0px 0px 4vh  -8px   #ffffff;">
    <button type="button" class="btn btn-dark " (click)="buscar(movieValue)"><i class="bi bi-search-heart"></i></button>
    
  </div>

  <div *ngIf="!isLoading">
    <div class="container mt-4 ">
      <div class="row">
        @for (movie of movie$; track $index) {
        <div class="col-md-4 mb-4"  >
      <div class="card" style="height: 650px; background-color: #000000;color: #ffffff; box-shadow: 0px 0px 5vh  -8px   #727272;">
        <img src="{{movie.Poster}}" class="card-img-top img-fluid" style="height: 450px;" alt="">
                <div class="card-body">
                  <h5 class="card-title">{{movie.Title}}</h5>
                  <h6 class="card-year">{{movie.Year}}</h6>
                  <!-- <p class="card-text">{{movie.Plot}}</p> -->
                  <button type="button" class="btn btn-dark " (click)="favoritar(movie.imdbID, movie.Title)">
                    <i [ngClass]="isFavorite(movie.imdbID) ? 'bi bi-bag-heart-fill': 'bi bi-bag-heart'"></i>
                  </button>
                  <button type="button" class="btn btn-danger "  >Sobre</button>
                </div>
              </div>
            </div>}
      </div>
    </div>
  </div>
</div>
</div>