
<div class="p-3  bg-black text-white" style="padding: 0;height: 75vh;">
<header class="header-container">
    <link rel="shortcut icon" href="img/fiveicon.png" type="image/x=icon">
    <video autoplay muted loop id="video-bg">
      <source src="assets/luxury.mp4" type="video/mp4">
      Seu navegador não suporta vídeos HTML5.
    </video>
    <div class="header-content text-center text-white">
      <h1 class="display-3">NTTFLIX</h1>
      <span class="display-2"></span>
      <nav>
        <a routerLink="/" class="btn btn-primary btn-lg">Página Inicial</a>
        <a routerLink="/filmes" class="btn btn-secondary btn-lg">Filmes</a>
      </nav>
      <p class="lead">Texto sobre o vídeo</p>
    </div>

  </header>
</div>

  