

<div class="p-3 mb-2 bg-black text-white">
  <div class="input-group mb-3" style="margin-top: 20vh; height: 5vh; width: 38vh;margin-left: 80vh;">
    <input [(ngModel)] = "movieValue" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="box-shadow: 0px 0px 10vh  -8px   #ffffff;">
    <button type="button" class="btn btn-primary " (click)="buscar(movieValue)"><i class="bi bi-search">🔍</i></button>
  </div>
    <div>
      <div class="container mt-4 " >
          <div class="row">
            <div class="col-md-4 mb-4" *ngFor="let movie of movie$">
              <div class="card" style="height: 600px;">
                <img src="{{movie.Poster}}" class="card-img-top img-fluid" style="height: 450px;" alt="">
                <div class="card-body">
                  <h5 class="card-title">{{movie.Title}}</h5>
                  <h6 class="card-year">{{movie.Year}}</h6>
                  <p class="card-text">{{movie.Plot}}</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
        </div>
    </div>
    </div>
</div>