/* You can add global styles to this file, and also import other style files */


  header{
    
    border: 1px solid rgb(19, 17, 17);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 5vh  -8px   #ffffff;
}

